In [15]:
import pandas as pd
from pathlib import Path

In [16]:
model_name = 'tw-roberta'

path_data_dir = Path('../data')
path_reduced = path_data_dir / Path('reduced')
path_aggregated = path_data_dir / Path('aggregated')
path_features = path_reduced / Path('features.csv')
path_final = path_data_dir / Path('final') / Path(model_name) / Path('full.csv')

path_embeddings = path_aggregated / Path(model_name) / Path('full.csv')

path_split_dir = path_data_dir / Path('split')

path_mbti = path_split_dir / Path('mbti.csv')
path_bigfive_c = path_split_dir / Path('bigfive_c.csv')
path_bigfive_s = path_split_dir / Path('bigfive_s.csv')

In [17]:
df = pd.read_csv(path_features)

In [18]:
df = df.drop(columns=['level_0', 'index', 'LENGTH', 'TEXT'])
df

,AUTHOR,SOURCE,mbtiEXT,mbtiSEN,mbtiTHI,mbtiJUD,cEXT,cNEU,cAGR,cCON,cOPN,sEXT,sNEU,sAGR,sCON,sOPN,NUM_CHARS,NUM_UPPERCASED,NUM_EMOJI
0,-9221022384933360074,tw_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127,18,0
1,-9221022384933360074,tw_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104,1,0
2,-9221022384933360074,tw_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,6,0
3,-9221022384933360074,tw_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,5,0
4,-9221022384933360074,tw_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5634759,9222919918896192253,kaggle_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91,5,0
5634760,9222919918896192253,kaggle_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183,3,0
5634761,9222919918896192253,kaggle_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63,7,0
5634762,9222919918896192253,kaggle_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,4,0
5634763,9222919918896192253,kaggle_mbti,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84,4,0

In [19]:
num_posts = df.groupby('AUTHOR').count()
num_posts

,SOURCE,mbtiEXT,mbtiSEN,mbtiTHI,mbtiJUD,cEXT,cNEU,cAGR,cCON,cOPN,sEXT,sNEU,sAGR,sCON,sOPN,NUM_CHARS,NUM_UPPERCASED,NUM_EMOJI
AUTHOR,,,,,,,,,,,,,,,,,,
-9221022384933360074,133,133,133,133,133,0,0,0,0,0,0,0,0,0,0,133,133,133
-9220321758358532571,1,0,0,0,0,1,1,1,1,1,0,0,0,0,0,1,1,1
-9220031623198266213,120,120,120,120,120,0,0,0,0,0,0,0,0,0,0,120,120,120
-9219633155989415906,48,48,48,48,48,0,0,0,0,0,0,0,0,0,0,48,48,48
-9219237589017844173,158,158,158,158,158,0,0,0,0,0,0,0,0,0,0,158,158,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9220307502816513261,50,50,50,50,50,0,0,0,0,0,0,0,0,0,0,50,50,50
9220556403022889385,44,44,44,44,44,0,0,0,0,0,0,0,0,0,0,44,44,44
9221651641191792423,42,42,42,42,42,0,0,0,0,0,0,0,0,0,0,42,42,42
9222607780732095571,50,50,50,50,50,0,0,0,0,0,0,0,0,0,0,50,50,50
9222919918896192253,32,32,32,32,32,0,0,0,0,0,0,0,0,0,0,32,32,32

In [20]:
num_posts['SOURCE']

AUTHOR
-9221022384933360074    133
-9220321758358532571      1
-9220031623198266213    120
-9219633155989415906     48
-9219237589017844173    158
                       ...
 9220307502816513261     50
 9220556403022889385     44
 9221651641191792423     42
 9222607780732095571     50
 9222919918896192253     32
Name: SOURCE, Length: 21684, dtype: int64

In [21]:
df = df.drop('SOURCE', axis=1)
df

,AUTHOR,mbtiEXT,mbtiSEN,mbtiTHI,mbtiJUD,cEXT,cNEU,cAGR,cCON,cOPN,sEXT,sNEU,sAGR,sCON,sOPN,NUM_CHARS,NUM_UPPERCASED,NUM_EMOJI
0,-9221022384933360074,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,127,18,0
1,-9221022384933360074,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,104,1,0
2,-9221022384933360074,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,50,6,0
3,-9221022384933360074,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,39,5,0
4,-9221022384933360074,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,27,2,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5634759,9222919918896192253,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,91,5,0
5634760,9222919918896192253,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,183,3,0
5634761,9222919918896192253,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,63,7,0
5634762,9222919918896192253,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,70,4,0
5634763,9222919918896192253,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,84,4,0

In [22]:
df = df.groupby('AUTHOR').mean()

In [23]:
df['NUM_POSTS'] = num_posts['SOURCE']

In [24]:
df

,mbtiEXT,mbtiSEN,mbtiTHI,mbtiJUD,cEXT,cNEU,cAGR,cCON,cOPN,sEXT,sNEU,sAGR,sCON,sOPN,NUM_CHARS,NUM_UPPERCASED,NUM_EMOJI,NUM_POSTS
AUTHOR,,,,,,,,,,,,,,,,,,
-9221022384933360074,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,82.842105,7.924812,0.067669,133
-9220321758358532571,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,4075.000000,139.000000,0.000000,1
-9220031623198266213,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,59.416667,2.958333,0.341667,120
-9219633155989415906,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,178.041667,5.354167,0.000000,48
-9219237589017844173,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,77.430380,3.303797,0.221519,158
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9220307502816513261,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,125.840000,4.840000,0.000000,50
9220556403022889385,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,134.159091,6.681818,0.000000,44
9221651641191792423,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,173.071429,4.976190,0.000000,42
9222607780732095571,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,186.740000,5.980000,0.000000,50
9222919918896192253,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,86.656250,5.750000,0.000000,32

In [25]:
embeddings = pd.read_csv(path_embeddings)

In [26]:
final = pd.merge(df, embeddings, how='left', on=['AUTHOR', 'AUTHOR'], copy=False).set_index('AUTHOR')

In [27]:
final

,mbtiEXT,mbtiSEN,mbtiTHI,mbtiJUD,cEXT,cNEU,cAGR,cCON,cOPN,sEXT,...,758,759,760,761,762,763,764,765,766,767
AUTHOR,,,,,,,,,,,,,,,,,,,,,
-9221022384933360074,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.060962,-0.022286,-0.146039,-0.055642,-0.021573,0.056082,0.105208,-0.247814,-0.008487,0.002584
-9220321758358532571,NaN,NaN,NaN,NaN,1.0,1.0,1.0,1.0,1.0,NaN,...,-0.084201,0.005282,-0.147341,-0.029248,0.010502,0.081995,-0.056109,-0.160702,-0.012305,0.027042
-9220031623198266213,0.0,1.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.052625,-0.021188,-0.144721,-0.074823,-0.009746,0.036002,0.028212,-0.135139,-0.008191,-0.007997
-9219633155989415906,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.064515,-0.010986,-0.162659,-0.070636,-0.012977,0.066532,0.039103,-0.140113,-0.008603,0.000269
-9219237589017844173,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.074869,-0.016893,-0.147531,-0.062592,0.028137,0.053380,0.011517,-0.106821,-0.012819,0.006908
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9220307502816513261,1.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.047444,-0.016894,-0.154476,-0.064496,0.002011,0.055266,0.054305,-0.141798,-0.012529,0.013597
9220556403022889385,0.0,0.0,1.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.038752,-0.029328,-0.130875,-0.067572,-0.017599,0.048109,0.071662,-0.167837,0.005230,0.012262
9221651641191792423,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.068792,-0.019671,-0.167552,-0.061184,0.008157,0.051426,0.075112,-0.188497,-0.017943,0.017325
9222607780732095571,0.0,0.0,0.0,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.064733,-0.016261,-0.132525,-0.057998,-0.002772,0.075129,0.055707,-0.120860,-0.014478,0.005084
9222919918896192253,0.0,0.0,1.0,0.0,NaN,NaN,NaN,NaN,NaN,NaN,...,-0.063552,-0.008669,-0.151870,-0.064575,-0.017930,0.055196,0.064605,-0.150862,-0.008538,0.014952

In [28]:
final.to_csv(path_final)